.App {
  text-align: center;
}
.heading {
  font-size: 40px;
  font-weight: bolder;
  margin: 20px 0px;
}

.status {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.box {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: row; 
  
}

.square {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  font-size: 40px;
}

.button {
  margin-top: 10px;
  background-color: rgb(228, 217, 217);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.gameBox {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}